<div class="center hero-unit">
    <h1>Welcome to Hallakl</h1>

    <h2>
      Find and order snacks arround your location.<br/>
      Snack owner! Be online and drive orders. Stop waisting time on the phone.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-large btn-primary" %>
  </div>

