<li>

<%= image_tag "http://placehold.it/60", class: "avatar" %>
<h3>
  <%= link_to shop.name, shop_path(shop) %>
</h3>
<h4>
  @<%= shop.shopname %>
</h4>
<div class="shop_descritpion">
  <%= shop.description %>
</div>

</li>
