<footer class="footer">
  <small>
    By
    <a href="http://samyv.com/">Samy VACHERESSE</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Help",   help_path %></li>
    </ul>
  </nav>
</footer>
